.theme-orange .theme-container,
.theme-orange [data-slot='drawer-content'],
.theme-orange [data-slot='dropdown-menu-content'],
.theme-orange [data-slot='dropdown-menu-sub-content'],
.theme-orange [data-slot='navigation-menu-popup'],
.theme-orange [data-slot='popover-content'],
.theme-orange [data-slot='select-content'] {
  --primary: var(--color-orange-600);
  --primary-foreground: var(--color-orange-50);
  --ring: var(--color-orange-400);
  --sidebar-primary: var(--color-orange-600);
  --sidebar-primary-foreground: var(--color-orange-50);
  --sidebar-ring: var(--color-orange-400);

  @variant dark {
    --primary: var(--color-orange-500);
    --primary-foreground: var(--color-orange-50);
    --ring: var(--color-orange-900);
    --sidebar-primary: var(--color-orange-500);
    --sidebar-primary-foreground: var(--color-orange-50);
    --sidebar-ring: var(--color-orange-900);
  }
}

.theme-red .theme-container,
.theme-red [data-slot='drawer-content'],
.theme-red [data-slot='dropdown-menu-content'],
.theme-red [data-slot='dropdown-menu-sub-content'],
.theme-red [data-slot='navigation-menu-popup'],
.theme-red [data-slot='popover-content'],
.theme-red [data-slot='select-content'] {
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-red-50);
  --ring: var(--color-red-400);
  --sidebar-primary: var(--color-red-600);
  --sidebar-primary-foreground: var(--color-red-50);
  --sidebar-ring: var(--color-red-400);

  @variant dark {
    --primary: var(--color-red-500);
    --primary-foreground: var(--color-red-50);
    --ring: var(--color-red-900);
    --sidebar-primary: var(--color-red-500);
    --sidebar-primary-foreground: var(--color-red-50);
    --sidebar-ring: var(--color-red-900);
  }
}

.theme-yellow .theme-container,
.theme-yellow [data-slot='drawer-content'],
.theme-yellow [data-slot='dropdown-menu-content'],
.theme-yellow [data-slot='dropdown-menu-sub-content'],
.theme-yellow [data-slot='navigation-menu-popup'],
.theme-yellow [data-slot='popover-content'],
.theme-yellow [data-slot='select-content'] {
  --primary: var(--color-yellow-400);
  --primary-foreground: var(--color-yellow-900);
  --ring: var(--color-yellow-400);
  --sidebar-primary: var(--color-yellow-600);
  --sidebar-primary-foreground: var(--color-yellow-50);
  --sidebar-ring: var(--color-yellow-400);

  @variant dark {
    --primary: var(--color-yellow-500);
    --primary-foreground: var(--color-yellow-900);
    --ring: var(--color-yellow-900);
    --sidebar-primary: var(--color-yellow-500);
    --sidebar-primary-foreground: var(--color-yellow-50);
    --sidebar-ring: var(--color-yellow-900);
  }
}
